[submodule "code/lib/bidspm"]
	path = code/lib/bidspm
	url = https://github.com/cpp-lln-lab/bidspm.git
[submodule "outputs/VBT_derivatives"]
	path = outputs/VBT_derivatives
	url = git@gin.g-node.org:/fcerpe/VBT_derivatives.git
